/* SignUp.css */
body {
    font-family: Arial, sans-serif;
    background-color: #f7f7f7;
    margin: 0;
    padding: 0;
  }
  
  .DivContainer {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
  }
  
  h2 {
    text-align: center;
    margin-bottom: 30px;
  }
  
  form {
    position: relative;
    background-color: #ffffff;
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 4px;
  }
  
  
/*   
  label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  input {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  button {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #0056b3;
  }
   */
  .error-message {
    color: red;
    font-size: 14px;
    margin-top: 5px;
  }
  
  /* Styling for step indicators */
  .step-indicator {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .step {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #ccc;
    color: #000000;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 5px;
  }
  
  .active {
    background-color: #007bff;
  }
  
  
  