*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}
.App{
 
  width: 50%;
  margin: auto;
  margin-top: 5%;
  
}
h1{
  text-align: center;
  font-weight: 600;
  font-size: 50px;
  color: rgb(81, 76, 76);
}
.todoForm{
 margin-top: 1rem;
  padding: 5px;
}
.todoinput{
  width: 100%;
  padding: 7px 3px;
  border: none;
  outline: none;
  border-bottom: 1px solid gray;
  font-size: 17px;
   
}
.todoinput::placeholder{
  font-size: 17px;
}
.tabDiv{
  display: flex;
  gap: .5rem;
  padding: 0 1.4rem;
  margin-bottom: 1rem;
  margin-top: .5rem;
}
.buttontab{
  border: none;
  background: transparent;
  outline: none;
color: #868585;
  padding: 8px 9px;
  cursor: pointer;
 
 
}
 
.selectedtab{
  font-size: 15px;
  font-weight: 600;
  background-color:rgba(116, 115, 115, 0.783);
  color: #fff;
  
  
}
.todolist{
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 93%;
  margin: auto;
  padding: 7px 5px;
  font-size: 18px;
  background-color: rgb(114, 115, 117);
  margin-top: 4px;
  color: #fff;
  cursor: pointer;
 
}
.todolist>div{
  display: flex;
  gap: 1rem;
}
.editform{
  
  width: 75%;
}
.editinput{
  width: 100%;
  background-color: transparent;
  border: none;
  outline: none;
  color: #fff;
  font-size: 17px;
  padding-bottom: 3px;
  border-bottom: 1px solid #fff
}
.button.clear {
  margin-left: 8rem;
  color: #FFF;
  background-color: #ee1630;
  width: 170px;
  outline: none;
  border: none;
}